body{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.body{
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: #fff;
	border-radius: 10px;
	border: 5px;
	height: 100vh;
}
header{
	height: 30px;
	width: 350px;
}
.title{
	text-align: left;
	width: 316px;
}
.card1{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	color: #fff;
	padding: 15px;
	border-radius: 20px;
}
.card1-sub1, .card1-sub2{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #7FB4BF;
	border-radius: 20px;
	width: 131px;
	height: 131px;
	margin: 5px 15px;
}
footer{
	position: fixed;
	bottom: 0;
	background-color: #034D5D;
	border-radius: 10px 10px 0 0;
	height: 43px;
}
i{
	margin: 27px;
}
a{
	text-decoration: none;
}